<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Content Moderator - Web</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="title">Content Moderation</div>
    <div class="register_page">
        <div class="form">
            <form action="/moderate" method="post">
                <div class="inputWrapper">
                    <div class="labelWrapper"><label class="label_title">Moderation Type</label> </div>
                    <div class="moderation">
                        <input type="radio" id="text" name="moderation_type" value="text" checked>
                        <label for="text">Text</label>
                        <input type="radio" id="web" name="moderation_type" value="web">
                        <label for="web">Web-URL</label>
                        <input type="radio" id="image" name="moderation_type" value="image" disabled>
                        <label for="web">Image</label>
                        <input type="radio" id="audio" name="moderation_type" value="audio" disabled>
                        <label for="web">Audio</label>
                        <input type="radio" id="video" name="moderation_type" value="video" disabled>
                        <label for="web">Video</label>
                    </div>
                </div>
                <div class="inputWrapper">
                    <div class="labelWrapper"><label class="label_title">Input</label></div>
                        <textarea class="text_area" name='user_input' placeholder='Enter Text Here'>{{data.text}}</textarea>
                </div>
                <div class="inputWrapper">
                    <div class="button-submit"><input type="submit" value="moderate" class="submit"></div>
                </div>
            </form>
            {% if data.isAbusive == 'true' %}
                <div class="outputWrapper">
                    <div class="output">Output</div>
                    <b>Type</b> <br/>{{data.type}}<br/><br/>
                    <b>Model Accuracy:</b> <br/>{{data.accuracy}}<br/><br/>
                    Abusive sentence found. <br/>
                    <b>Sending as:</b>  <br/>
                    {{data.updated_text}}<br/>
                </div>
            {% endif %}
        </div>

    </div>


</body>

</html>